@font-face {
    font-family: 'AlibabaPuHuiTi';
    src: url('AlibabaPuHuiTi-Regular.woff2') format('woff2'),
        url('AlibabaPuHuiTi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlibabaPuHuiTi-Bold';
    src: url('AlibabaPuHuiTi-Bold.woff2') format('woff2'),
        url('AlibabaPuHuiTi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

